body, html {
  height: 100vh;
  margin: 0;
  background-color: #56BFFF;
}

.container {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/942/592/869/pixel-art-8-bit-wallpaper-preview.jpg);
  background-repeat: 'no-repeat';
  height: 100vh; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
